<section id="header" class="container d-grid">
    <div class="row">
        <div class="col-md-6">
            <div class="img-header  d-flex justify-content-center align-items-center">
                <img src="../assets/img/bandera.jpg" alt="bandera-sde">
            </div>
        </div>
        <div class="col-md-6 mt-3" id="text-header">
            <p class="text-center">El Tribunal De Cuentas es el Órgano Fiscalizador de la gestión financiero patrimonial de la Provincia y de sus Municipios, así como de los Organismos centralizados, descentralizados y autárquicos.</p>
        </div>
    </div>
</section>