<section id="formulario">
<div class="container">
    <form class="row g-3">
    <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Email</label>
        <input type="email" class="form-control" id="inputEmail4">
    </div>
    <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Nombre Completo</label>
        <input type="password" class="form-control" id="inputPassword4">
    </div>
    <div class="col-12">
        <label for="inputAddress" class="form-label">Dirección</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="Av. Belgrano N°650">
    </div>
    <div class="col-12">
        <label for="inputAddress2" class="form-label">Número de Teléfono</label>
        <input type="text" class="form-control" id="inputAddress2" placeholder="Código de Área + Número de Teléfono">
    </div>
    <div class="col-md-6">
        <label for="inputCity" class="form-label">Provincia</label>
        <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="col-md-4">
        <label for="inputState" class="form-label">Ciudad</label>
        <select id="inputState" class="form-select">
        <option selected>Elige una ciudad..</option>
        <option>Añatuya</option>
        <option>Árraga</option>
        <option>Averías</option>
        <option>Bandera</option>
        <option>Bandera Bajada</option>
        <option>Beltrán</option>
        <option>Brea Pozo</option>
        <option>Campo Gallo</option>
        <option>Clodomira</option>
        <option>Colonia Alpina</option>
        <option>Colonia Dora</option>
        <option>Colonia El Simbolar</option>
        <option>Chilca Juliana</option>
        <option>Choya</option>
        <option>El Bobadal</option>
        <option>El Charco</option>
        <option>El Mojón</option>
        <option>Estación Atamisqui</option>
        <option>Estación El Simbolar</option>
        <option>Estación Taboada</option>
        <option>Fernández</option>
        <option>Fortín Inca</option>
        <option>Frías</option>
        <option>Garza</option>
        <option>Gramilla</option>
        <option>Guardia Escolta</option>
        <option>Herrera</option>
        <option>Icaño</option>
        <option>Ingeniero Forres</option>
        <option>La Banda</option>
        <option>La Cañada</option>
        <option>Laprida</option>
        <option>Lavalle</option>
        <option>Loreto</option>
        <option>Los Juríes</option>
        <option>Los Nuñez</option>
        <option>Los Pirpintos</option>
        <option>Los Quiroga</option>
        <option>Los Telares</option>
        <option>Lugones</option>
        <option>Malbrán</option>
        <option>Matará</option>
        <option>Medellín</option>
        <option>Monte Quemado</option>
        <option>Nueva Esperanza</option>
        <option>Nueva Francia</option>
        <option>Palo Negro</option>
        <option>Pampa De Los Guanacos</option>
        <option>Pinto</option>
        <option>Pozo Hondo</option>
        <option>Quimilí</option>
        <option>Real Sayana</option>
        <option>Sacháyoj</option>
        <option>Salavina</option>
        <option>Santiago Del Estero</option>
        <option>San Pedro De Guasayán</option>
        <option>Selva</option>
        <option>Sol de Julio</option>
        <option>Sumampa</option>
        <option>Suncho Corral</option>
        <option>Tacañitas</option>
        <option>Tapso</option>
        <option>Termas De Rio Hondo</option>
        <option>Tintina</option>
        <option>Tomás Young</option>
        <option>Vilelas</option>
        <option>Villa Atamisqui</option>
        <option>Villa La Punta</option>
        <option>Villa Ojo De Agua</option>
        <option>Villa Rio Hondo</option>
        <option>Villa Unión</option>
        <option>Vilmer</option>
        <option>Weisburg</option>
        </select>
    </div>
    <div class="col-md-2">
        <label for="inputZip" class="form-label">Código Postal</label>
        <input type="text" class="form-control" id="inputZip">
    </div>
    <div class="col-12">
        <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
            Recordarme
        </label>
        </div>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary" style="background-color: #154a9a; color: #f4e938;">Ingresar</button>
    </div>
    </form>
</div>
</section>